body {
  background-color: #f2f2f2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.contact-table {
  width: 100%;
  border-collapse: collapse;
}

.contact-table th, .contact-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #444444;
}
.contact-table th {
  background-color: #1c1c1c;
  color: #ffffff;
}

.contact-table button {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  background-color: #1c1c1c;
  color: #ffffff;

}
.deleteConfirmation{
    align-items: center;
}
.search {
  padding: 10px 15px;
  border: none;
  max-width: 300px; 
  background-color: #fdfdfd;
  color: rgb(6, 6, 6);
  font-size: 16px;
}
button{
  height: 35px;
  background-color: black;
  color: white;
  border-radius: 7px;
}
.ContactForm {
  position: fixed;
  top: 50%;
  left: 39%;
  background: white;
  padding: 25px 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

}
.ContactForm input{
  width: 280px;
}


