
.navbar {
  background-color: #1e1e1e; 
  color: #f0f0f0;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-left h2 {
  margin: 0;
  font-size: 20px;
  color: #dcdcdc;

}
