
.user-profile {
  text-align: center;
  margin-top: 120px;
  font-family: Arial, sans-serif;
  color: black;
  background-color: D3D3D3;
  line-height: 1.8; 
  font-size: 18px; 
}

.user-profile h2 {
  font-size: 28px;
  margin-bottom: 25px;
}

.user-details p {
  margin: 12px ;
  font-size: 20px;
}
button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
}

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 5px;
  text-align: left;
  font-size: 16px;
}

.modal-actions {
  text-align: right;
  margin-top: 15px;
}
